*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-card{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.card{
  width: 18rem;
  height: 20rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition:background-color 3s ease;
}
.card:hover{
  background-color: #fffcde;
}
.imeg-1{
  width: 100%;
  height: 100%;
  transition: all 3s;
}
.imeg-1 img{
  width: 100%;
  height: 100%;
  display: block;
}
.card:hover .imeg-1{
  width: 9.5rem;
  height: 10.5rem;
  margin-top: 2rem;

}
.title{
  width: 100%;
  text-align: center;
  padding-top: 16px;
}
.title h3{
  color: #000;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 800;
}
.title p{
  font-size: 14px;
  color: #000;
  opacity: 50%;
  margin-bottom: 8px;
}
.title .icon{
  display: flex;
  justify-content: center;

}
.icon a{
  text-decoration: none;
  color: #000;
  margin: 0 4px;
  font-size: 16px;
}
